<div class="container">
  <div class="card">
    <h2>Change Password</h2>
    <p class="subtitle">Enter your new password below to update your account.</p>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onChangePassword()" #passwordForm="ngForm">
      <div class="input-group">
        <label>New Password</label>
        <input type="password"
               name="newPassword"
               [(ngModel)]="newPassword"
               placeholder="********"
               required>
      </div>

      <div class="input-group">
        <label>Confirm New Password</label>
        <input type="password"
               name="confirmPassword"
               [(ngModel)]="confirmPassword"
               placeholder="********"
               required>
        <div class="password-rules">

          <p>Password must contain:</p>

          <ul>
            <li [class.valid]="newPassword.match('(?=.*[A-Z])')">
              1 uppercase letter
            </li>

            <li [class.valid]="newPassword.match('(?=.*[a-z])')">
              1 lowercase letter
            </li>

            <li [class.valid]="newPassword.match('(?=.*[0-9])')">
              1 number
            </li>

            <li [class.valid]="newPassword.match('(?=.*[@$!%*?&])')">
              1 special character
            </li>

            <li [class.valid]="newPassword.length >= 8">
              Minimum 8 characters
            </li>

          </ul>

        </div>
      </div>

      <button type="submit" class="change-btn" [disabled]="!passwordForm.form.valid">
        Change Password &rarr;
      </button>

      <div class="footer-link">
        <a routerLink="/login">Back to Sign In</a>
      </div>
    </form>
  </div>
</div>
