:host {
  display: block;
}

.zorent-auth-wrapper {
  min-height: 100vh;
  background-color: #f1f5f9;
  font-family: 'Inter', sans-serif;
}

.zorent-logo-container {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.zorent-main-logo {
  max-width: 100%;
  height: auto;
}

.zorent-auth-card {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1px solid rgba(0, 0, 0, 0.02) !important;
}

  .zorent-auth-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 30px 60px rgba(0, 110, 118, 0.12) !important;
  }

.encryption-container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 110, 118, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  animation: float-box 4s infinite ease-in-out;
}

.shield-orb {
  color: #006e76;
  background: rgba(0, 110, 118, 0.08);
  padding: 10px;
  border-radius: 50%;
}



.error-msg {
  color: #e11d48;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 5px;
}

.zorent-input.is-invalid {
  border-color: #e11d48 !important;
  background-color: #fff1f2;
}

.auth-footer a {
  text-decoration: none;
  color: #006e76;
  font-weight: 600;
  font-size: 0.85rem;
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #006e76;
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}

.text-muted-divider {
  opacity: 0.3;
}

.zorent-text-accent {
  color: #006e76;
}

.zorent-btn-accent {
  background-color: #144a70;
  color: white;
  border: none;
  transition: 0.3s;
}

  .zorent-btn-accent:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }

.status-dot {
  height: 8px;
  width: 8px;
  background: #10b981;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
